.contact{
    height: 30vh;
    width: 60vw;
    background-color: #d1a6a6;
    /* display: flex; */
}

.input-field{
    display: flex;
    justify-content: center;
    align-content: stretch;
    align-items: center;
    /* border: 1px solid; */
    width: fit-content;
}

.input-field i{
    position: relative;
    top: 0px;
    left: 31px;
    color: black;
        
}

input{
    outline: none;
    margin: 10px;
    width: 164px;
    height: 31px;
    padding: 0 0 0 32px;
}

input:focus{
    background-color: #c6c6c6;
}

